.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in;

  img {
    animation: rotate-anim linear 5s infinite;
  }
}

@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
